{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Black Box Investigation</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
  </head>

  <body>

  <h1>Black Box Investigation</h1>
  <h2>By Rokhaya Mbaye</h2>



<img src="{% static 'core/Rokhaya_working1.JPG' %}" alt="3D Original Model" width="500">
<img src="{% static 'core/Rokhaya_working2.JPG' %}" alt="3D Original Model" width="500">



<h2>Background</h2>
<p> In my technology class we are trying to figure out how a box called “The Mystery Black Box” works. When water is poured in this box, it comes out in surprising ways. Our goal is to figure out why that is and try to recreate it with our own model. </p>

<h2>Claim</h2>
<p> The mystery black box could have a system of separated containers that allows water to flow through.</p>

<h2> Evidence</h2>
<p>The Mystery Black box is a box that when water is poured in it comes out more or less than what we poured in. For example, when Mr Sinusas poured in 1000 ml 712 ml came out. And when he poured in 800 ml, 870 ml came out. It also took a while for it to come out. Our approach to figuring out how it worked was by sketching out our plan for recreating it.

Our model's key function was to have it release water greater or less than what was poured in. We tested our model by pouring water in it and seeing if it was similar to the  black box. Our results were that when we poured in 300 ml, 250 ml came out in the fourth trail. And when we poured in 200 ml we got 600 ml out on the last trail.<p>

<h2> Reasoning Part 1</h2>
<p>Models are a representation of a certain thing or topic. Models can  be useful to help represent a physical form of a thought or ideas.  Models are a great way to help visualize an idea in another perspective. But it also comes with some limitations. These include the inability to represent everything that is needed for the model. For example landscapes. It is also not one hundred percent realistic.  Just like how our model isn't exactly like the mystery black box. <p>

<h2> Reasoning Part 2</h2>
<p>My evidence supports the claim I made because when we tested out my claim, it worked really well.  You should believe my claim  because it worked for our build. My evidence is convincing because our result came out like that of the mystery box. <p>

<h2> Reasoning Part 3</h2>
<p>Some may say that there is NOT a system of separated containers inside of the mystery black box.  If that claim were to be true, then our results would not have matched the data from the original mystery black box. it would produce way too much water quickly or not enough water slowly.  Our data did match both the timing and amounts observed from the real mystery black box, so this means that our claim could possibly be true.

Another possible explanation was that there was a tipping bucket  inside the mystery black box.  If that were true, we should have observed how fast the water came out.  Because we did not observe how fast the water came out, we can conclude there is not a tipping bucket in the real mystery black box.
<p>
<!DOCTYPE html>
<html>
<body>


<h2>Our mystery black box</h2>
<img src="{% static 'core/Rokhaya.JPG' %}" alt="3D Original Model" width="500">

<table style="width:100%">
  <tr>
    <th>Trails</th>
    <th>Water In</th>
    <th>Water Out</th>
    <th>Observation</th>
  </tr>
  <tr>
    <td>1</td>
    <td>800 ml</td>
    <td>550 ml</td>
    <td>The water was less</td>
  </tr>
  <tr>
    <td>2</td>
    <td>600 ml</td>
    <td>500 ml</td>
    <td>The water was less</td>
  </tr>
    <td>3</td>
    <td>1000 ml</td>
    <td>1200 ml</td>
    <td>The water was more</td>
   </tr>
    <td>4</td>
    <td>300 ml</td>
    <td>250 ml</td>
    <td>The water was less</td>
</tr>
    <td>5</td>
    <td>900 ml</td>
    <td>1000 ml</td>
    <td>The water was more</td>
</tr>
    <td>6</td>
    <td>200 ml</td>
    <td>600 ml</td>
    <td>The water was more</td>





</table>

<img src="{% static 'core/Rokhayarenderephoto1.jpg' %}" alt="3D Original Model" width="500">

<h2> The original mystery black box</h2>
<table style="width:100%">
  <tr>
    <th>Trails</th>
    <th>Water In</th>
    <th>Water Out</th>
    <th>Observation</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1000 ml</td>
    <td>0 ml</td>
    <td>Nothing came out</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1000 ml</td>
    <td>712 ml</td>
    <td>The water was less</td>
  </tr>
    <td>3</td>
    <td>800 ml</td>
    <td>450 ml</td>
    <td>The water was less</td>
   </tr>
    <td>4</td>
    <td>800 ml</td>
    <td>630 ml</td>
    <td>The water was less</td>
</tr>
    <td>5</td>
    <td>800 ml</td>
    <td>870 ml</td>
    <td>The water was more</td>




</table>
 <img src="{% static 'core/Rokhaya_Mysteryblackbox.JPG' %}" alt="3D Original Model" width="500">


<p>In our New media and Tech class, we also used Autodesk Maya. In this program we rebuilt out version of the mystery black box which is showcased below. We also used this program to animate the box by showing how it works. We also did an augument reality version of it. Me also used a website called Merge.EDU to create a more realistic view of out model.
</p>



<p> In the model  below we rebuilt our mystery black box on a site called Merge.EDU. This helped us see our model in a more realistic way. The model above shows how I coded the animation to work in a way we did in real life</p>


<video width="320" autoplay muted loop>
  <source src="{% static 'core/ar_preview.mp4' %}" type="video/mp4">
</video>
<p>Scan  the QR code or click <a
href="https://adobeaero.app.link/CvqyNP0g9Nb">here</a> to see my model in augumented reality</p>
<img class="QR" src="{% static 'core/RokhayaBlackbox3 QR Code.png' %}" width="100">
<br>
<h2> Recreating our model on Maya</h2>
<img src="{% static 'core/RokhayaPouring.JPG' %}" alt="3D Original Model" width="500">
<img src="{% static 'core/Rokhayaworking.JPG' %}" alt="3D Original Model" width="500">



<p>After we had made our model in real life, we remade it on a platform  called Maya. This platform helepd use recreate our real life model in a digital way. After we built it on Maya, we learned how to make a rendered version of it. This version helped us see it in a more realistic perspective even though it was digital. I really enjoyed using Maya though it was a bit stressful some times. Overall, this has been a great experience and if I had a the chance to do it again, I think I would.</p>
<h2> 21st Century Skills</h2>
<p> In this project, I used 21st century skills such as communication and colloboration. I was able to communicate my content using my website to show my work. The information was commuticated well because my teacher and peers understood what I was trying to show. Everyone in my group somewhat contributed to the project. We had a lot of trouble with the building stage, but after a while we figured it out. If I did this assignment alone, I would not have gotten it done in time and I would have stressed out. My group used the availible time and completed this project on time.</p>
<h2> Reflection</h2>

<p> In the engaging project, we learned how to work in group and collaborate. This project tested our potential to work in groups and if we are able to contribute our ideas to help better the project. We used the platform maya which helped us make a model of our build. We all worked hard to make our real life version of the mystery black box. It was a bit difficult to code the website, but i really enjoyed it at the end. Next project, I could focus more and try my best to understand the material. </p>
<img src="{% static 'core/Rokhayacollab.jpg' %}" width="200">

</body>
</html>








  </body>
</html>
